*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    background-color: rgb(32, 32, 32);
}

.headerNavButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerNavButton{
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

.headerIcon{
    padding: 10px;
    font-size: 2.5vw;

    color: white;
}

.theaderIcon{
    margin: 1vw;
    color: white;
}

.tIcon{
    margin: 1rem;
    color: rgb(32, 32, 32);
}

.tableContent{
    width: 85%;
    margin: 0 auto;
    margin-top: 2vw;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: bold;
    padding: 0 1rem;
}

th, td{
    border-bottom: 1px solid rgb(241, 239, 239);
    text-align: start;
    padding: 1vw 0rem;
    font-size: 1.5vw;
}

input{
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}




